<div id="home">
    <div class="bg_video">
		<video id="bg_video" src="images/home/bg_home.mov" autoplay loop></video>
    </div>
    <div class="mm_bar ">
        <img src="images/home/mm_bar.png">
    </div>
    <div class="play image-fader">
        <img src="images/home/play_i.png">
        <img src="images/home/play_a.png">
        <img src="images/home/play_a.png">
    </div>
    <div class="chapters image-fader">
        <img src="images/home/chapters_i.png">
        <img src="images/home/chapters_a.png">
        <img src="images/home/chapters_a.png">
    </div>
    <div class="features image-fader">
        <img src="images/home/features_i.png">
        <img src="images/home/features_a.png">
        <img src="images/home/features_a.png">
    </div>
    <div class="more image-fader">
        <img src="images/home/more_i.png">
        <img src="images/home/more_a.png">
        <img src="images/home/more_a.png">
    </div>
    <div class="tabs">
        <div class="tab1">
        </div>
        <div class="tab2">
        </div>
        <div class="tab3">
        </div>
        <div class="tab4">
        </div>
    </div>
</div>
